<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letsbuild.dao.mapper.interfaces.OrdAdvpayMapper" >
  <resultMap id="BaseResultMap" type="com.letsbuild.dao.mapper.bo.OrdAdvpay" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="project_leader" property="projectLeader" jdbcType="BIGINT" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="brand_code" property="brandCode" jdbcType="VARCHAR" />
    <result column="merchant" property="merchant" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="open_bank" property="openBank" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_tel" property="contactTel" jdbcType="VARCHAR" />
    <result column="plan_refund_time" property="planRefundTime" jdbcType="TIMESTAMP" />
    <result column="refund_amount" property="refundAmount" jdbcType="DOUBLE" />
    <result column="refund_time" property="refundTime" jdbcType="TIMESTAMP" />
    <result column="quotes_amount" property="quotesAmount" jdbcType="DOUBLE" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="pay_user" property="payUser" jdbcType="BIGINT" />
    <result column="pay_amount" property="payAmount" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="status_time" property="statusTime" jdbcType="TIMESTAMP" />
    <result column="invoice_no" property="invoiceNo" jdbcType="VARCHAR" />
    <result column="invoice_amount" property="invoiceAmount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_code, project_leader, province_code, city_code, brand_code, merchant, 
    address, amount, account_no, account_name, open_bank, create_time, contact_name, 
    contact_tel, plan_refund_time, refund_amount, refund_time, quotes_amount, pay_time, 
    pay_user, pay_amount, status, status_time, invoice_no, invoice_amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.letsbuild.dao.mapper.bo.OrdAdvpayCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ord_advpay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from ord_advpay
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from ord_advpay
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.letsbuild.dao.mapper.bo.OrdAdvpayCriteria" >
    delete from ord_advpay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.letsbuild.dao.mapper.bo.OrdAdvpay" >
    insert into ord_advpay (id, project_code, project_leader, 
      province_code, city_code, brand_code, 
      merchant, address, amount, 
      account_no, account_name, open_bank, 
      create_time, contact_name, contact_tel, 
      plan_refund_time, refund_amount, refund_time, 
      quotes_amount, pay_time, pay_user, 
      pay_amount, status, status_time, 
      invoice_no, invoice_amount)
    values (#{id,jdbcType=BIGINT}, #{projectCode,jdbcType=VARCHAR}, #{projectLeader,jdbcType=BIGINT}, 
      #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{brandCode,jdbcType=VARCHAR}, 
      #{merchant,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, 
      #{accountNo,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{openBank,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{contactName,jdbcType=VARCHAR}, #{contactTel,jdbcType=VARCHAR}, 
      #{planRefundTime,jdbcType=TIMESTAMP}, #{refundAmount,jdbcType=DOUBLE}, #{refundTime,jdbcType=TIMESTAMP}, 
      #{quotesAmount,jdbcType=DOUBLE}, #{payTime,jdbcType=TIMESTAMP}, #{payUser,jdbcType=BIGINT}, 
      #{payAmount,jdbcType=DOUBLE}, #{status,jdbcType=CHAR}, #{statusTime,jdbcType=TIMESTAMP}, 
      #{invoiceNo,jdbcType=VARCHAR}, #{invoiceAmount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.letsbuild.dao.mapper.bo.OrdAdvpay" >
    insert into ord_advpay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="projectLeader != null" >
        project_leader,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="brandCode != null" >
        brand_code,
      </if>
      <if test="merchant != null" >
        merchant,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="accountNo != null" >
        account_no,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="openBank != null" >
        open_bank,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="contactTel != null" >
        contact_tel,
      </if>
      <if test="planRefundTime != null" >
        plan_refund_time,
      </if>
      <if test="refundAmount != null" >
        refund_amount,
      </if>
      <if test="refundTime != null" >
        refund_time,
      </if>
      <if test="quotesAmount != null" >
        quotes_amount,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="payUser != null" >
        pay_user,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="statusTime != null" >
        status_time,
      </if>
      <if test="invoiceNo != null" >
        invoice_no,
      </if>
      <if test="invoiceAmount != null" >
        invoice_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectLeader != null" >
        #{projectLeader,jdbcType=BIGINT},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null" >
        #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null" >
        #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="openBank != null" >
        #{openBank,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="planRefundTime != null" >
        #{planRefundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=DOUBLE},
      </if>
      <if test="refundTime != null" >
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quotesAmount != null" >
        #{quotesAmount,jdbcType=DOUBLE},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payUser != null" >
        #{payUser,jdbcType=BIGINT},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="statusTime != null" >
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNo != null" >
        #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="invoiceAmount != null" >
        #{invoiceAmount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.letsbuild.dao.mapper.bo.OrdAdvpayCriteria" resultType="java.lang.Integer" >
    select count(*) from ord_advpay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ord_advpay
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.projectCode != null" >
        project_code = #{record.projectCode,jdbcType=VARCHAR},
      </if>
      <if test="record.projectLeader != null" >
        project_leader = #{record.projectLeader,jdbcType=BIGINT},
      </if>
      <if test="record.provinceCode != null" >
        province_code = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        city_code = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.brandCode != null" >
        brand_code = #{record.brandCode,jdbcType=VARCHAR},
      </if>
      <if test="record.merchant != null" >
        merchant = #{record.merchant,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.accountNo != null" >
        account_no = #{record.accountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.accountName != null" >
        account_name = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.openBank != null" >
        open_bank = #{record.openBank,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contactName != null" >
        contact_name = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactTel != null" >
        contact_tel = #{record.contactTel,jdbcType=VARCHAR},
      </if>
      <if test="record.planRefundTime != null" >
        plan_refund_time = #{record.planRefundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.refundAmount != null" >
        refund_amount = #{record.refundAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.refundTime != null" >
        refund_time = #{record.refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.quotesAmount != null" >
        quotes_amount = #{record.quotesAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payUser != null" >
        pay_user = #{record.payUser,jdbcType=BIGINT},
      </if>
      <if test="record.payAmount != null" >
        pay_amount = #{record.payAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.statusTime != null" >
        status_time = #{record.statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.invoiceNo != null" >
        invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceAmount != null" >
        invoice_amount = #{record.invoiceAmount,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ord_advpay
    set id = #{record.id,jdbcType=BIGINT},
      project_code = #{record.projectCode,jdbcType=VARCHAR},
      project_leader = #{record.projectLeader,jdbcType=BIGINT},
      province_code = #{record.provinceCode,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      brand_code = #{record.brandCode,jdbcType=VARCHAR},
      merchant = #{record.merchant,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=DOUBLE},
      account_no = #{record.accountNo,jdbcType=VARCHAR},
      account_name = #{record.accountName,jdbcType=VARCHAR},
      open_bank = #{record.openBank,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      contact_name = #{record.contactName,jdbcType=VARCHAR},
      contact_tel = #{record.contactTel,jdbcType=VARCHAR},
      plan_refund_time = #{record.planRefundTime,jdbcType=TIMESTAMP},
      refund_amount = #{record.refundAmount,jdbcType=DOUBLE},
      refund_time = #{record.refundTime,jdbcType=TIMESTAMP},
      quotes_amount = #{record.quotesAmount,jdbcType=DOUBLE},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      pay_user = #{record.payUser,jdbcType=BIGINT},
      pay_amount = #{record.payAmount,jdbcType=DOUBLE},
      status = #{record.status,jdbcType=CHAR},
      status_time = #{record.statusTime,jdbcType=TIMESTAMP},
      invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      invoice_amount = #{record.invoiceAmount,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.letsbuild.dao.mapper.bo.OrdAdvpay" >
    update ord_advpay
    <set >
      <if test="projectCode != null" >
        project_code = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectLeader != null" >
        project_leader = #{projectLeader,jdbcType=BIGINT},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null" >
        brand_code = #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null" >
        merchant = #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="accountNo != null" >
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="openBank != null" >
        open_bank = #{openBank,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        contact_tel = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="planRefundTime != null" >
        plan_refund_time = #{planRefundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundAmount != null" >
        refund_amount = #{refundAmount,jdbcType=DOUBLE},
      </if>
      <if test="refundTime != null" >
        refund_time = #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quotesAmount != null" >
        quotes_amount = #{quotesAmount,jdbcType=DOUBLE},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payUser != null" >
        pay_user = #{payUser,jdbcType=BIGINT},
      </if>
      <if test="payAmount != null" >
        pay_amount = #{payAmount,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="statusTime != null" >
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNo != null" >
        invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="invoiceAmount != null" >
        invoice_amount = #{invoiceAmount,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.letsbuild.dao.mapper.bo.OrdAdvpay" >
    update ord_advpay
    set project_code = #{projectCode,jdbcType=VARCHAR},
      project_leader = #{projectLeader,jdbcType=BIGINT},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      brand_code = #{brandCode,jdbcType=VARCHAR},
      merchant = #{merchant,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      account_no = #{accountNo,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      open_bank = #{openBank,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_tel = #{contactTel,jdbcType=VARCHAR},
      plan_refund_time = #{planRefundTime,jdbcType=TIMESTAMP},
      refund_amount = #{refundAmount,jdbcType=DOUBLE},
      refund_time = #{refundTime,jdbcType=TIMESTAMP},
      quotes_amount = #{quotesAmount,jdbcType=DOUBLE},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      pay_user = #{payUser,jdbcType=BIGINT},
      pay_amount = #{payAmount,jdbcType=DOUBLE},
      status = #{status,jdbcType=CHAR},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      invoice_amount = #{invoiceAmount,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>