/*初始化*/
*{webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box; border:0; padding:0; margin:0;}
body{font-family:"Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";font-size:14px;}
li{ list-style:none;}
a{text-decoration:none;}
a:link{ text-decoration:none;}
a:active{ text-decoration:none;}
var,em {font-style:normal;}
table{border-collapse:collapse;}
.left{ float:left}
.right{ float:right;}
input{outline:none;}
button{outline:none; cursor:pointer;}
html,body {height: 100%;}


.header{ width:100%; float:left; height:100px; background:#fff; position:fixed; top:0; left:0; z-index:10; min-width:1200px;-webkit-box-shadow:0 0 10px #999;  
  -moz-box-shadow:0 0 10px #999;  
  box-shadow:0 0 10px #999;}
.logo{ width:150px; height:100%; background:#78e5e3; float:left; text-align:center; padding-top:15px;}
.headcrumb{width: 250px;float: left;height: 70px;background: none;padding-top: 35px;padding-left:30px;}
.headcrumb ul{ width:100%; float:left; height:25px; line-height:25px; border-left:4px solid #2bbfbd; padding-left:10px;}
.headcrumb ul li{ float:left; color:#4f5151; font-size:18px;}
.headcrumb ul li i{ font-size:18px; color:#2bbfbd; margin:0 10px;}
.headcrumb ul li a{ color:#4f5151;}
.headcrumb ul li a:hover{ color:#2bbfbd;}

.user-cnt{ width:290px; position:absolute; right:0; top:26px; line-height:45px; right:10px; background:url(../images/cxian.png) no-repeat left 13px; padding-left:40px;}
.user-cnt img{ width:45px; height:45px; border-radius:50%; margin-right:15px; float:left;}
.user-cnt span{ font-size:18px; color:#9e9e9e; margin-right:15px; float:left;}
.user-cnt a{ margin-top:5px; float:left;}
.user-cnt i{ font-size:23px; color:#bfc0c0;}
.user-cnt i:hover{ color:#2bbfbd;}
.nav{ float:right; width:auto; padding-right:320px; padding-top:38px;}
.nav ul li{ float:left; font-size:18px;}
.nav ul li a{ color:#58606a; padding:10px 22px;}
.nav ul li a:hover{ color:#2bbfbd;}
.nav ul li.current a{ background:#16ccc9; color:#fff;}
.nav ul li.current a:hover{ background:#2bbfbd; color:#fff;}

.left-cnt{ width:150px; float:left; padding-top:100px; position:fixed; top:0; left:0; z-index:6; background:#2eb0ae; height:100%;}
.left-cnt ul{ width:100%; float:left; padding-top:20px;}
.left-cnt ul li{ width:150px; border-bottom:1px solid #2bbcba; font-size:18px; float:left;}
.left-cnt ul li a{ color:#b7dada; height:100px; padding-bottom:10px;  padding-top:60px; float:left; width:100%; text-align:center;}
.left-cnt ul li a:hover{ color:#fff;}
.left-cnt ul .tpList1 a{ background:url(../images/lcnt_1.png) no-repeat center 15px;}
.left-cnt ul .tpList1 a:hover{ background:url(../images/lcnt_1a.png) no-repeat center 15px #16ccc9;}
.left-cnt ul .tpList2 a{ background:url(../images/lcnt_2.png) no-repeat center 15px;}
.left-cnt ul .tpList2 a:hover{ background:url(../images/lcnt_2a.png) no-repeat center 15px #16ccc9;}
.left-cnt ul .tpList3 a{ background:url(../images/lcnt_3.png) no-repeat center 15px;}
.left-cnt ul .tpList3 a:hover{ background:url(../images/lcnt_3a.png) no-repeat center 15px #16ccc9;}
.left-cnt ul .tpList4 a{ background:url(../images/lcnt_4.png) no-repeat center 15px;}
.left-cnt ul .tpList4 a:hover{ background:url(../images/lcnt_4a.png) no-repeat center 15px #16ccc9;}
.left-cnt ul .tpList5 a{ background:url(../images/lcnt_5.png) no-repeat center 15px;}
.left-cnt ul .tpList5 a:hover{ background:url(../images/lcnt_5a.png) no-repeat center 15px #16ccc9;}
.left-cnt ul .tpList6 a{ background:url(../images/lcnt_6.png) no-repeat center 15px;}
.left-cnt ul .tpList6 a:hover{ background:url(../images/lcnt_6a.png) no-repeat center 10px #16ccc9;}
.left-cnt ul .tpList1 a.current{ background:url(../images/lcnt_1a.png) no-repeat center 15px #16ccc9; color:#fff;}
.left-cnt ul .tpList2 a.current{ background:url(../images/lcnt_2a.png) no-repeat center 15px #16ccc9; color:#fff;}
.left-cnt ul .tpList3 a.current{ background:url(../images/lcnt_3a.png) no-repeat center 15px #16ccc9; color:#fff;}
.left-cnt ul .tpList4 a.current{ background:url(../images/lcnt_4a.png) no-repeat center 15px #16ccc9; color:#fff;}
.left-cnt ul .tpList5 a.current{ background:url(../images/lcnt_5a.png) no-repeat center 15px #16ccc9; color:#fff;}
.left-cnt ul .tpList6 a.current{ background:url(../images/lcnt_6a.png) no-repeat center 15px #16ccc9; color:#fff;}


.footer{ width:100%; float:left; height:50px; position:fixed; bottom:0; padding-left:150px; z-index:8; }
.foot{ width:100%; float:left; text-align:right; line-height:50px; background:#fff; color:#666; padding-right:20px;}

.wrapper{ width:100%; float:left; padding:100px 0 50px 150px; position:fixed; left:0; top:0; height:100%;}

.wp-content{ background:#eee; width:100%; float:left; height:100%; padding:15px;overflow-y:scroll; min-width:1200px;}



